@import './variables.scss';

.font-weight-light {
  font-family: $font-light;
}

.font-weight-thin {
  font-family: $font-thin;
}

.font-weight-black {
  font-family: $font-black;
}

.font-weight-bold {
  font-family: $font-bold;
}

.text-red {
  color: $red;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
  font-family: $font-normal;
}

.row-header {
  margin-right: -40px;
}

.navbar {
  background: $dark;
  padding: 22px 10px;

  .navbar-content {
    padding-left: 32px;
    padding-right: 32px;

    .navbar-brand {
      text-transform: uppercase;
      font-size: 50px;
      font-family: $font-light;
      color: $white;
      letter-spacing: -2px;

      .font-weight-bold {
        font-family: $font-black;
      }

      .dot {
        position: relative;
        right: 4px;
      }
    }

    .navbar-nav {
      .nav-item {
        font-size: 16px;
        font-family: $font-normal;
        color: $white;
        padding-left: 16px;
        padding-right: 16px;
        letter-spacing: -0.5px;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}

.header-section {
  background: $dark;
  color: $white;
  padding-top: 66px;
  padding-bottom: 103px;

  h1 {
    font-size: 120px;
    font-family: $font-black;
    letter-spacing: -6.5px;
    text-transform: uppercase;
    line-height: 110px;
    // top: -34px;
    //   position: relative;
  }

  h3 {
    font-size: 42px;
    line-height: 1;
    margin-top: 32px;
    letter-spacing: -2.3px;
  }

  p {
    font-size: 18px;
    margin-top: 25px;
    line-height: 1.4;
    padding-left: 5px;
    letter-spacing: -0.1px;
  }

  .phone-content {
    margin-bottom: -30.3%;
    margin-top: -8.5%;
    background-image: url("../images/phone.png");
    background-size: 460px 784px;
    background-position: right -27px top 100%;
    background-repeat: no-repeat;
    padding-right: 40px;
  }
}

.what-we-do-section {
  padding-top: 74px;
  padding-bottom: 20px;
  color: rgb(78, 78, 78);

  h2 {
    font-size: 42px;
    letter-spacing: -2.4px;
    margin-bottom: 0;
  }

  p {
    font-size: 18px;
    margin-bottom: 55px;
  }

  .what-we-do-item {
    margin-bottom: 48px;

    h5 {
      font-size: 18px;
      color: rgb(53, 53, 53);
      text-transform: uppercase;
      font-family: $font-black;
      margin-top: 35px;
    }

    p {
      font-size: 14px;
      color: rgb(53, 53, 53);
      font-family: $font-light;
    }

    i {
      height: 155px;
      width: 100%;
      max-width: 110px;
      background: $red;
      display: block;

      &.refreshing {
        background-image: url("../images/refresh.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      &.coffee {
        background-image: url("../images/coffee.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      &.file {
        background-image: url("../images/file.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      &.disc {
        background-image: url("../images/disc.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      &.heart {
        background-image: url("../images/heart.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      &.leaf {
        background-image: url("../images/leaf.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .navbar .navbar-content .navbar-brand {
    font-size: 32px;
  }

  .header-section {
    h1 {
      font-size: 70px;
      letter-spacing: -4px;
      line-height: 65px;
    }

    h3 {
      font-size: 30px;
      line-height: 1;
      margin-top: 20px;
      letter-spacing: -1.5px;
    }

    p {
      font-size: 15px;
      margin-top: 20px;
      line-height: 1.4;
      padding-left: 5px;
      letter-spacing: 0;
    }

    .phone-content {
      background-size: contain;
      background-position: right -8px top 100%;
    }
  }
}
@media screen and (max-width:767px) {
  .navbar {
    .navbar-content {
      .navbar-nav {
        .nav-item {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  .header-section {
    .row-header {
      margin-right: -15px;
    }

    .phone-content {
      background-position: center;
      height: 600px;
      margin-bottom: -220px;
      margin-top: 20px;
    }
  }
}
@media screen and (max-width:385px) {
  .header-section {
    .phone-content {
      height: 500px;
    }
  }
}
