@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato-Thin";
  src: url("../fonts/Lato-Hairline.ttf");
}

.font-weight-light {
  font-family: "Lato-Light";
}

.font-weight-thin {
  font-family: "Lato-Thin";
}

.font-weight-black {
  font-family: "Lato-Black";
}

.font-weight-bold {
  font-family: "Lato-Bold";
}

.text-red {
  color: #ff6131;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
  font-family: "Lato";
}

.navbar {
  background: #282828;
  padding: 22px 10px;

  .navbar-content {
    padding-left: 32px;
    padding-right: 32px;

    .navbar-brand {
      text-transform: uppercase;
      font-size: 50px;
      font-family: "Lato-Light";
      color: rgb(255, 255, 255);
      letter-spacing: -2px;

      .font-weight-bold {
        font-family: "Lato-Black";
      }

      .dot {
        position: relative;
        right: 4px;
      }
    }

    .navbar-nav {
      .nav-item {
        font-size: 16px;
        font-family: "Lato";
        color: rgb(255, 255, 255);
        padding-left: 16px;
        padding-right: 16px;
        letter-spacing: -0.5px;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}

.header-section {
  background: #282828;
  color: rgb(255, 255, 255);
  padding-top: 66px;
  padding-bottom: 66px;

  h1 {
    font-size: 120px;
    font-family: "Lato-Black";
    letter-spacing: -6.5px;
    text-transform: uppercase;
    line-height: 110px;
    // top: -34px;
    //   position: relative;
  }

  h3 {
    font-size: 42px;
    line-height: 1;
    margin-top: 32px;
    letter-spacing: -2.3px;
  }

  p {
    font-size: 18px;
    margin-top: 25px;
    line-height: 1.4;
    padding-left: 5px;
    letter-spacing: -0.1px;
  }

  .phone-content {
    margin-bottom: -300px;
    margin-top: -61px;
    transform: translate(-54px, 0);
  }
}

.what-we-do-section {
  padding-top: 74px;
  padding-bottom: 20px;
  color: rgb(78, 78, 78);

  h2 {
    font-size: 42px;
    letter-spacing: -2.4px;
    margin-bottom: 0;
  }

  p {
    font-size: 18px;
    margin-bottom: 55px;
  }

  .what-we-do-item {
    margin-bottom: 48px;

    h5 {
      font-size: 18px;
      color: rgb(53, 53, 53);
      text-transform: uppercase;
      font-family: "Lato-Black";
      margin-top: 35px;

    }

    p {
      font-size: 14px;
      color: rgb(53, 53, 53);
      font-family: "Lato-Light";
    }
    i{
      height: 155px;
      width: 100%;
      background: #ff6131;
      display: block;
      &.refreshing{
        background-image: url('../images/refresh.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      &.coffee{
        background-image: url('../images/coffee.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      &.file{
        background-image: url('../images/file.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      &.disc{
        background-image: url('../images/disc.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      &.heart{
        background-image: url('../images/heart.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      &.leaf{
        background-image: url('../images/leaf.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
