@font-face { font-family: "Lato"; src: url("../fonts/Lato-Regular.ttf"); }
@font-face { font-family: "Lato-Bold"; src: url("../fonts/Lato-Bold.ttf"); }
@font-face { font-family: "Lato-Light"; src: url("../fonts/Lato-Light.ttf"); }
@font-face { font-family: "Lato-Black"; src: url("../fonts/Lato-Black.ttf"); }
@font-face { font-family: "Lato-Thin"; src: url("../fonts/Lato-Hairline.ttf"); }
.font-weight-light { font-family: "Lato-Light"; }

.font-weight-thin { font-family: "Lato-Thin"; }

.font-weight-black { font-family: "Lato-Black"; }

.font-weight-bold { font-family: "Lato-Bold"; }

.text-red { color: #ff6131; }

.container { padding-left: 32px; padding-right: 32px; font-family: "Lato"; }

.row-header { margin-right: -40px; }

.navbar { background: #282828; padding: 22px 10px; }
.navbar .navbar-content { padding-left: 32px; padding-right: 32px; }
.navbar .navbar-content .navbar-brand { text-transform: uppercase; font-size: 50px; font-family: "Lato-Light"; color: #fff; letter-spacing: -2px; }
.navbar .navbar-content .navbar-brand .font-weight-bold { font-family: "Lato-Black"; }
.navbar .navbar-content .navbar-brand .dot { position: relative; right: 4px; }
.navbar .navbar-content .navbar-nav .nav-item { font-size: 16px; font-family: "Lato"; color: #fff; padding-left: 16px; padding-right: 16px; letter-spacing: -0.5px; }
.navbar .navbar-content .navbar-nav .nav-item:last-of-type { padding-right: 0; }

.header-section { background: #282828; color: #fff; padding-top: 66px; padding-bottom: 103px; }
.header-section h1 { font-size: 120px; font-family: "Lato-Black"; letter-spacing: -6.5px; text-transform: uppercase; line-height: 110px; }
.header-section h3 { font-size: 42px; line-height: 1; margin-top: 32px; letter-spacing: -2.3px; }
.header-section p { font-size: 18px; margin-top: 25px; line-height: 1.4; padding-left: 5px; letter-spacing: -0.1px; }
.header-section .phone-content { margin-bottom: -30.3%; margin-top: -8.5%; background-image: url("../images/phone.png"); background-size: 460px 784px; background-position: right -27px top 100%; background-repeat: no-repeat; padding-right: 40px; }

.what-we-do-section { padding-top: 74px; padding-bottom: 20px; color: #4e4e4e; }
.what-we-do-section h2 { font-size: 42px; letter-spacing: -2.4px; margin-bottom: 0; }
.what-we-do-section p { font-size: 18px; margin-bottom: 55px; }
.what-we-do-section .what-we-do-item { margin-bottom: 48px; }
.what-we-do-section .what-we-do-item h5 { font-size: 18px; color: #353535; text-transform: uppercase; font-family: "Lato-Black"; margin-top: 35px; }
.what-we-do-section .what-we-do-item p { font-size: 14px; color: #353535; font-family: "Lato-Light"; }
.what-we-do-section .what-we-do-item i { height: 155px; width: 100%; max-width: 110px; background: #ff6131; display: block; }
.what-we-do-section .what-we-do-item i.refreshing { background-image: url("../images/refresh.png"); background-repeat: no-repeat; background-position: center; }
.what-we-do-section .what-we-do-item i.coffee { background-image: url("../images/coffee.png"); background-repeat: no-repeat; background-position: center; }
.what-we-do-section .what-we-do-item i.file { background-image: url("../images/file.png"); background-repeat: no-repeat; background-position: center; }
.what-we-do-section .what-we-do-item i.disc { background-image: url("../images/disc.png"); background-repeat: no-repeat; background-position: center; }
.what-we-do-section .what-we-do-item i.heart { background-image: url("../images/heart.png"); background-repeat: no-repeat; background-position: center; }
.what-we-do-section .what-we-do-item i.leaf { background-image: url("../images/leaf.png"); background-repeat: no-repeat; background-position: center; }

@media screen and (max-width: 991px) { .navbar .navbar-content .navbar-brand { font-size: 32px; }
  .header-section h1 { font-size: 70px; letter-spacing: -4px; line-height: 65px; }
  .header-section h3 { font-size: 30px; line-height: 1; margin-top: 20px; letter-spacing: -1.5px; }
  .header-section p { font-size: 15px; margin-top: 20px; line-height: 1.4; padding-left: 5px; letter-spacing: 0; }
  .header-section .phone-content { background-size: contain; background-position: right -8px top 100%; } }
@media screen and (max-width: 767px) { .navbar .navbar-content .navbar-nav .nav-item { padding-left: 0; padding-right: 0; }
  .header-section .row-header { margin-right: -15px; }
  .header-section .phone-content { background-position: center; height: 600px; margin-bottom: -220px; margin-top: 20px; } }
@media screen and (max-width: 385px) { .header-section .phone-content { height: 500px; } }

/*# sourceMappingURL=style.css.map */
